body {
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    padding: 30px 30px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    padding-top: 10px;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

h1, h3 {
    color: rgb(5, 102, 141);
}

#title {
    text-align: center;
}

#intro {
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: rgb(66, 122, 161);
}

#video {
    display: flex;
    justify-content: center;
}